@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap');

$primary-color: #464A5A;
$secondary-color: #DED8D5;
$third-color: #F7AC1B;
$font-stack: 'Mulish', sans-serif;

body {
  margin: 0 30px;
  padding: 0;
  background-color: $primary-color;
  font-family: $font-stack;
  color: $secondary-color;
}

header {
  height: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 80px;
    margin: 10px 0 0 30px;
  }
  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    color: $third-color;
    text-decoration: none;
  }
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 3rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 700px;
  &__img {
    background-color: $secondary-color;
    justify-self: flex-start;
    align-self: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &__info {
    padding-left: 30px;
  }
}

#mapa {
  padding: 30px 0;
  width: 100%;
  height: 700px;
}

footer {
  height: 80px;
  display: flex;
  place-content: center;
  position: block;
}

//Mobile
@media (max-width: 700px) {
  body {
    margin: 0;
  }
  header{
    margin-right: 30px;
    margin-bottom: 0;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
    grid-gap: 5px;
  }
  .main-section {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    width: auto;
    height: auto;
    grid-row: 2 / -1;
    &__info p {
      margin: 0;
    }
    &__info h3 {
      margin: 10px 0;
    }
  }
  #mapa {
    width: 100%;
    height: 400px;
  }
}